/* style.css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Empêche le footer de chevaucher le contenu si la page est plus courte */
    margin: 0; /* Enlever les marges par défaut */
}

.main-content {
    flex: 1; /* Fait en sorte que le contenu principal prenne toute la hauteur disponible */
}

/* style.css */
.footer {
    background-color: #000000; /* Couleur de fond du footer (peut être personnalisée) */
    padding: 1px; /* Ajuste l'espace interne pour le contenu du footer */
    margin-top: -10px; /* Réduit l'espace entre le contenu du footer et le bas de la page */
}


.navbar-custom {
    background-color: #000000; /* Couleur d'arrière-plan de la navbar */
    color: #ffffff; /* Couleur du texte de la navbar */
}

.couleur-navbar{
    color:aliceblue !important;
}

.btn-connexion {
    background-color: #ff0000; /* Rouge */
    color: #ffffff !important; /* Texte en blanc */
    font-weight: bold; /* Texte en gras */
}

