/* style.css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Empêche le footer de chevaucher le contenu si la page est plus courte */
    margin: 0; /* Enlever les marges par défaut */
}

body.fondaccueil {
    background-image: url("/Public/img/fondcaccueilsiteperso.jpg");
    background-repeat: no-repeat;
    /* Réglages supplémentaires pour le fond d'image */
    background-size: cover;
    background-position: center;
}

body.fondjv {
    background-image: url("/Public/img/fondjv.webp");
    background-repeat: no-repeat;
    /* Réglages supplémentaires pour le fond d'image */
    background-size: cover;
    background-position: center;
}

body.fondmanga {
    background-image: url("/Public/img/fondmanga.webp");
    background-repeat: no-repeat;
    /* Réglages supplémentaires pour le fond d'image */
    background-size: cover;
    background-position: center;
}

body.fondyugioh {
    background-image: url("/Public/img/fondyugioh.jpg");
    background-repeat: no-repeat;
    /* Réglages supplémentaires pour le fond d'image */
    background-size: cover;
    background-position: center;
}

body.fondfeurmec {
    background-image: url("/Public/img/feurmec.jpg");
    background-repeat: no-repeat;
    /* Réglages supplémentaires pour le fond d'image */
    background-size: cover;
    background-position: center;
}

.main-content {
    flex: 1; /* Fait en sorte que le contenu principal prenne toute la hauteur disponible */
}

/* style.css */
.footer {
    background-color: #000000; /* Couleur de fond du footer (peut être personnalisée) */
    padding: 1px; /* Ajuste l'espace interne pour le contenu du footer */
    margin-top: -10px; /* Réduit l'espace entre le contenu du footer et le bas de la page */
}


.navbar-custom {
    background-color: #000000; /* Couleur d'arrière-plan de la navbar */
    color: #ffffff; /* Couleur du texte de la navbar */
}

.couleur-navbar{
    color:aliceblue !important;
}

.btn-connexion {
    background-color: #ff0000; /* Rouge */
    color: #ffffff !important; /* Texte en blanc */
    font-weight: bold; /* Texte en gras */
}

body {
    text-align: center; /* Centrer le contenu de la page horizontalement */
}

.form-container {
    display: flex;
    justify-content: center; /* Centrer horizontalement le contenu de la div */
}

.form-wrapper {
    text-align: left; /* Alignement du texte à gauche à l'intérieur de la div */
    width: 400px; /* Ajustez la largeur de la div selon vos besoins */
}

.details-container {
    text-align: center;
    margin-top: 20px;
}
